.segment {
  padding-left: 2rem;
  display: flex;
  width: 100%;
  min-height: 10vh;
  /* justify-content: space-between; */
  align-items: center;
  z-index: 99;
}

.segment h2 {
  font-family: "Roboto Mono";
  font-size: 1.1rem;
}

.field {
  overflow: hidden;
  border-radius: 2rem 2rem 2rem 2rem;
  background: var(--light);
  transition: filter 0.4s ease-in-out;
}
.field:hover {
  filter: drop-shadow(0px 0px 2px var(--purple));
}

.field-input {
  width: 150px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.8rem;
  border: none;
  color: var(--gray);
  border-left: none;
  transition: width 0.4s ease-in-out;
}

.search-btn {
  cursor: pointer;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  background: var(--light);
  color: var(--darkest-purple);
  /* border: 2px solid var(--dark-purple); */
  border-right: none;
  border-radius: 2rem 0rem 0rem 2rem;
}
input:focus {
  outline: none;
}
input[type="text"]:hover {
  outline: none;
  width: 350px;
}
